.sacra-custom-realted-product {
    padding: 50px 15px;
}

.sa-custom-related-product-container {
    margin: 0 auto;
    padding-bottom: 50px;
}

.sacra-inner-container {
    padding: 1.5rem 0 0.5rem;
}

.sacra-inner-container h2 {
    color: #050505;
    padding-bottom: 16px;
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 0;
}

.sacra-inner-container span {
    font-size: 16px;
    font-weight: 500;
    text-transform: initial;
    max-width: 550px;
    text-align: left;
    display: block;
}

.related-products-swiper-container {
    overflow-x: hidden;
}

.sacra-tab.tab-wrapper .tablink {
    margin-right: 2px;
    padding: 8px 0px;
    padding-bottom: 2px;
    cursor: pointer;
    font-size: 18px;
    text-transform: capitalize;
    margin-left: 12px;
    margin-right: 12px;
}

.sacra-tab.tab-wrapper .tablink:nth-child(1) {
    margin-left: 0;
}

.sacra-tab.tab-wrapper .tablink.active {
    color: #050505;
    font-weight: 400;
    border-bottom: 1px #e08281 solid;
    border-radius: 0;
}

.related-products-swiper-wrapper {
    padding-top: 18px;
}

.sacra-section {
    /* background-color: #fff2de; */
    background-color: #ffffff;
}

.sacra-section .tab {
    border-top: 0;
}

.sacra-section .product-card {
    background: #fff 0% 0% no-repeat padding-box;
    box-shadow: 0 2px 12px #2222221f;
    border-radius: 4px;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px 8px;
}

.sacra-section .card-image-container img {
    width: 100%;
}

.sacra-section .card-information-wrapper {
    padding: 24px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sacra-section .swiper-slide {
    height: auto;
    margin-bottom: 10px;
}

.sacra-section .card-group-container span.brand--name {
    font-weight: 600;
}

.sacra-section .product--title-container a {
    font-size: 16px;
}

.sacra-section .price--container .price-money {
    color: #d24d55;
    font-weight: 700;
    font-size: 24px;
    line-height: normal;
    margin-bottom: 0;
}

.sacra-section .card-group-container {
    line-height: normal;
    margin-bottom: 2px;
}

.sacra-section .product--title-container {
    line-height: 25px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.sacra-section a.button-link-to {
    color: #3b97b6;
    text-decoration: underline;
    display: block;
    font-size: 14px;
}

/* .related-products-swiper-wrapper {
    overflow: hidden;
} */

.sacra-section .swiper-wrapper {
    height: unset !important;
}

.sacra-section .tabcontent {
    position: relative;
}

.sacra-section .related-products-swiper-button-prev.swiper-button-prev,
.sacra-section .related-products-swiper-button-next.swiper-button-next {
    height: 56px;
    width: 56px;
    padding: 15px;
    transform: unset;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    background: #e6e6e6;
    border: 1px #e6e6e6 solid;
    color: #000;
    padding: 10px;
}

.sacra-section .related-products-swiper-button-next.swiper-button-next {
    right: -84px;
}

.sacra-section .related-products-swiper-button-prev.swiper-button-prev {
    left: -84px;
}

.sacra-section .related-products-swiper-button-prev.swiper-button-prev:after,
.sacra-section .related-products-swiper-button-next.swiper-button-next:after {
    font-size: 24px;
}

.sacra-tab.tab-wrapper {
    line-height: normal;
    margin-bottom: 10px;
}

/* .related-products-swiper-button-next[aria-disabled="true"], .related-products-swiper-button-prev[aria-disabled="true"] {
    display: none;
} */

#sacra-custom-related-product a:focus,
#sacra-custom-related-product a[role="button"]:focus,
#sacra-custom-related-product button:focus,
#sacra-custom-related-product div[role="button"]:focus {
    outline: unset !important;
    box-shadow: unset;
}

#sacra-custom-related-product .sacra-button {
    width: 100%;
    background-color: transparent;
    border: 1px #333 solid;
    color: #333;
    padding: 10px;
    display: block;
    text-align: center;
    border-radius: 4px;
    margin-top: 15px;
}

#sacra-custom-related-product .sacra-button:hover {
    background-color: #4dac8b;
    border-color: #4dac8b;
    color: #fff;
}

.sacra-tab.tab-wrapper {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
}

@media(max-width:1400px) {

    .sacra-section .related-products-swiper-button-prev.swiper-button-prev,
    .sacra-section .related-products-swiper-button-next.swiper-button-next {
        height: 40px;
        width: 40px;
    }

    .sacra-section .related-products-swiper-button-next.swiper-button-next {
        right: -32px;
    }

    .sacra-section .related-products-swiper-button-prev.swiper-button-prev {
        left: -32px;
    }
}

@media(max-width:1024px) {
    .sacra-section .related-products-swiper-button-next.swiper-button-next {
        right: -10px;
    }

    .sacra-section .related-products-swiper-button-prev.swiper-button-prev {
        left: -10px;
    }
}

/* Popup css */
/* General Popup Styles */
.sacra-popup .popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
}

.sacra-popup .popup-content {
    position: relative;
    margin: 5% auto;
    padding: 20px;
    width: 80%;
    max-width: 800px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.sacra-popup .popup-close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 25px;
    font-weight: bold;
    cursor: pointer;
}

.sacra-popup .popup-close:hover {
    color: red;
}

/* Product Items */
.sacra-popup .product-item-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.sacra-popup .product-item-content img {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.sacra-popup .product-name {
    font-weight: bold;
}

.sacra-popup .add-to-cart-btn,
.sacra-popup .add-all-to-cart-btn {
    padding: 8px 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.sacra-popup .add-to-cart-btn:hover,
.sacra-popup .add-all-to-cart-btn:hover {
    background-color: #0056b3;
}

/* Button to open the popup */
#show-popup-btn {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#show-popup-btn:hover {
    background-color: #218838;
}

#product-container-bundle {
    overflow: auto;
}

.saerp-content-container {
    overflow: auto;
}


/* Related product popup content */
.openCartSidebar .saerp-content-container {
    display: block !important;
    background: #f5f5f5;
}

.saerp-content-container {
    display: none;
    position: fixed;
    left: auto;
    top: 0;
    height: 100vh;
    background: #fff;
    z-index: 999;
    max-width: 722px;
    right: calc(722px - 250px);
    width: 722px;
}

.saerp-content-container h2 {
    font-size: 24px;
    margin: 0;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    color: #045c94;
    background: #fff;
    position: sticky;
    padding: 1rem 2rem;
    text-align: center;
    top: 0;
    z-index: 9;
}

.saerp-product-category-section {
    padding: 2rem 2rem 0;
    border-bottom: 1px solid #d7d4d4;

}

.saerp-product-category-section h3 {
    margin: 0 0 1.5rem;
    padding: 0;
    text-align: left;
    font-size: 22px;
    text-transform: uppercase;
}

.saerp-product-item h4 {
    margin: 0 0 1rem;
    padding: 0;
    font-size: 18px;
    text-transform: none;
    font-weight: 600;
}

.saerp-product-item-content {
    display: grid;
    grid-template-columns: 25% 71%;
    grid-gap: 2rem;
    grid-row-gap: 1.6rem;
    margin-top: 1rem;
    margin-bottom: 0;
    padding-bottom: 2rem;
    align-items: center;
}

.saerp-product-item-button-container {
    display: flex;
    column-gap: 10px;
}

.saerp-product-item-atc-button {
    width: 150px;
}

.saerp-product-item-atc-button button {
    padding: 0 1.5rem;
    background: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 5px;
    height: 50px;
    line-height: 50px;
    font-weight: 500;
    letter-spacing: 0;
    width: 100%;
}

.saerp-quantity-wrapper.saerp-form-increment {
    position: relative;
}

.saerp-product-item-img-container {
    text-align: center;
}

.saerp-product-item-img-container img {
    margin-bottom: 0.5rem;
    width: 100%;
    height: 150px;
    -o-object-fit: contain;
    object-fit: contain;
    border: 1px #eee solid;
    background-color: #fff;
}

.saerp-product-sku {
    font-size: 14px;
    color: #afafaf;
}

.saerp-product-price {
    margin: 0;
    line-height: normal;
    font-size: 18px;
    color: #000;
}

.saerp-form-increment button {
    width: 32px;
    max-width: auto;
    height: 50px;
    position: absolute;
}

.saerp-form-input-increment::-webkit-outer-spin-button,
.saerp-form-input-increment::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.saerp-form-input-increment[type=number] {
    -moz-appearance: textfield;
}

.saerp-form-increment button[data-action="dec"]:before {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    width: 12px;
    height: 2px;
}

.saerp-form-increment button[data-action="dec"]:before,
.saerp-form-increment button[data-action="dec"]:after {
    content: "";
    position: absolute;
    display: block;
    line-height: 22px;
    background-color: #787878;
    z-index: 1;
    opacity: 1;
}

.saerp-form-increment button[data-action="inc"]:before {
    top: 50%;
    left: auto;
    right: 10px;
    transform: translateY(-50%);
    width: 12px;
    height: 2px;
}

.saerp-form-increment button[data-action="inc"]:before,
.saerp-form-increment button[data-action="inc"]:after {
    content: "";
    position: absolute;
    display: block;
    line-height: 22px;
    background-color: #787878;
    z-index: 1;
    opacity: 1;
}

.saerp-form-increment button[data-action="inc"]:after {
    top: 50%;
    right: 15px;
    width: 2px;
    height: 12px;
    transform: translateY(-50%);
}

input.saerp-form-input.saerp-form-input-increment {
    -webkit-appearance: none;
    height: 50px;
    width: 100%;
    border: 1px solid #cbcbcb;
    border-radius: 4px;
    font-weight: 400;
    text-align: center;
    pointer-events: none;
}

.saerp-qty-inc {
    right: 0;
}

.saerp-content-container::-webkit-scrollbar {
    width: 5px;
}

.saerp-content-container::-webkit-scrollbar-thumb {
    background: #888;
}

.saerp-content-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

.saerp-add-all-to-cart-btn-container {
    text-align: center;
    padding: 1rem 2rem;
}

.saerp-add-all-to-cart-btn-container button {
    width: 100%;
}



@media (max-width: 1250px) {
    .saerp-content-container {
        width: 499px
    }

    .saerp-product-item-content {
        grid-template-columns: 35% 58%;
    }
}

@media (max-width: 1024px) {

    .halo-sidebar-wrapper {
        height: calc(50vh - 80px);
    }

    .saerp-content-container {
        position: unset;
        max-width: 100%;
        width: 100%;
    }

    .saerp-product-item-content {
        grid-template-columns: 44% 48%;
    }

    .saerp-product-item-atc-button {
        width: 100%;
    }

    .saerp-product-item h4 {
        font-size: 16px;
        font-weight: 400;
    }

    .openCartSidebar .saerp-content-container {
        height: 55vh;
        position: unset;
    }

    .saerp-product-category-section {
        padding: 1rem 1rem 0;
    }

    .saerp-product-item h4 {
        font-weight: 400;
        line-height: normal;
    }

    .saerp-product-category-section {
        padding: 1.5rem 1rem 0;
    }

    .saerp-product-item-content {
        grid-template-columns: 38% 53%;
    }

    .saerp-product-category-section h3 {
        margin: 0 0 0.5rem;
        font-size: 20px;
    }

    .saerp-product-item-img-container img {
        height: 130px;
    }

    .saerp-product-item h4 {
        font-size: 14px;
    }

    .saerp-product-sku {
        font-size: 13px;
    }
}